/* Álbuns */

.albuns__container-pm {
    margin: 40px;
}

@media (min-width: 1400px) {
    .albuns__container-pm {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.title__container--album, .about__title {
    color: #000;
    font-size: 30px;
    margin: 30px 0px;
    font-weight: bold;
}

@media (max-width: 640px) {
    .albuns__container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}