@media (min-width: 1400px) {
    footer {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 1400px;
        margin: 0 auto;
    }
}

@media (max-width: 640px) {
    footer {
        font-size: 14px;
    }
}