@media (min-width: 1400px) {
    footer {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 1400px;
        margin: 0 auto;
    }
}

@media (max-width: 640px) {
    footer {
        font-size: 14px;
    }

    .footer__section-links {
        flex-direction: column;
        justify-content: start;
        margin: 0 auto;
        text-align: center;
        gap: 1rem;
    }

    .footer__container {
        margin: 0 auto;
    }

    .footer__title {
        font-size: 1.2rem;
    }
}

@media (max-width: 750px) {
    .footer__bottom-texts {
        margin-bottom: 50px;
    }
}