/* Header */

header {
    background: rgba(255, 255, 255, 0.589);
    box-shadow: 0 8px 32px 0 rgba(201, 201, 201, 0.37);
    backdrop-filter: blur(13.5px);
    z-index: 10;
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    position: fixed;
    max-width: 1270px;
    border-radius: 10px;
}
.container__navbar {
    display: block;
}

@media (min-width: 1400px) {
    header {
        max-width: 1400px;
    }
}

@media (max-width: 740px) {
    .item__link {
        font-size: 18px;
    }

    header {
        font-size: 12px;
    }

    .text__action {
        display: none;
    }
}

@media (max-width: 600px) {
    .actions__header {
        display: none;
    }
}