/* Header */

header {
    background: rgba(255, 255, 255, 0.589);
    box-shadow: 0 8px 32px 0 rgba(201, 201, 201, 0.37);
    backdrop-filter: blur(13.5px);
    z-index: 10;
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    position: fixed;
    max-width: 1270px;
    border-radius: 10px;
}

.navagation__container--moblie {
    display: none;
}

.container__navbar {
    display: block;
}

@media (min-width: 1400px) {
    header {
        max-width: 1400px;
    }
    
}

@media (max-width: 740px) {
    .item__link {
        font-size: 18px;
    }

    header {
        font-size: 12px;
        bottom: 0;
        padding: 10px;
    }

    .text__home__hidden--moblie {
        display: none;
    }

    .navagation__container {
        display: none;
    }

    .text__action {
        display: none;
    }
    
    header {
        border-top: 1px solid rgba(82, 82, 82, 0.568);
        border-radius: 0px;
    }
}

@media (max-width: 600px) {
    .actions__header {
        display: none;
    }
}

.container__item--moblie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #141414;
    border-radius: 100%;
    width: 50px;
    cursor: pointer;
    transition: .5s ease-in-out;
    height: 50px;
    font-weight: bold;
}

.item__link--moblie {
    display: flex;
    flex-direction: column;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.text__item--text {
    color: #333;
    font-size: 14px;
}

.item__home {
    background-color: #333;
    color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
}

.navagation__container--moblie {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    align-items: center;
    width: 100%;
}

.item__top {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #141414;
    border-radius: 100%;
    width: 50px;
    cursor: pointer;
    height: 50px;
    font-weight: bold;
}

.navagation__container--moblie {
    position: relative;
}

.item__icon--moblie {
    padding: 10px;
    border-radius: 100%;
    transition: ease-in-out .5s;
}

.item__icon--moblie:hover {
    background: #6d6d6d57;
}

.item__top {
    position: relative;
}

.image__icon {
    width: 50px;
    z-index: 99;
    bottom: 50px;
    left: 10px;
    position: absolute;
}

@media (min-width: 750px) {
    .navagation__container--moblie {
        display: none;
    }
}